body {
  margin: 0;
  background-color: lightgoldenrodyellow;
  font-family: Arial, sans-serif;
  color: blueviolet;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li a {
  text-decoration: none;
  background-color: darkgoldenrod;
  display: block;
  margin: 2px;
  width: 100px;
  padding: 10px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  border-radius: 5px;
}


ul li a:hover{
  color: darkgoldenrod;
  background-color: blueviolet;
}
