body {
  margin: 0;
  background-color: lightgoldenrodyellow;
  font-family: Arial, sans-serif;
  color: blueviolet;
  text-align: center;

}

.centerContent{
  margin-left: auto;
  margin-right: auto;
}


.form{
  background-color: darkgoldenrod;
  border-radius: 5px;
  width: 300px;
  padding: 20px;
}

.row{
  display: table-row;
}

.row label{
  display: table-cell;
  padding: 5px;

}

.row input{
  display: table-cell;
  padding: 5px;

}
