body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: white;
  height: 900px;
}

.header {
  background-color: antiquewhite;
  font-size: xxx-large;
  text-align: center;
  color: black;
  padding: 50px;
}

.main {
  display: flex;
  flex: 1;
}

.navbar {

  background-color: gold;

  flex: 1;
  margin: 5px;
}

.article {

  background-color: cornflowerblue;

  flex: 3;
  margin: 5px;
}

.asidepanel {
  background-color: darkgoldenrod;

  margin: 5px;
  flex: 1;
}

.footer {
  background-color: antiquewhite;
  font-size: xxx-large;
  text-align: center;
  color: black;
  padding: 50px;
}


